<section class="imr-component imr-component--table" data-component-id="M04_TABLE" data-component-version="1.0.0" aria-labelledby="m04-title">
  <table>
    <caption id="m04-title">Neutrale Vergleichstabelle — T00-Testwerte</caption>
    <thead><tr><th scope="col">Position</th><th scope="col">Menge (Einheiten)</th><th scope="col">Status</th></tr></thead>
    <tbody>
      <tr><th scope="row">Testzeile 01</th><td>1</td><td>OFFEN</td></tr>
      <tr><th scope="row">Testzeile 02</th><td>2</td><td>IN_BEARBEITUNG</td></tr>
      <tr><th scope="row">Testzeile 03</th><td>3</td><td>ERLEDIGT</td></tr>
      <tr><th scope="row">Testzeile 04</th><td>4</td><td>NICHT_RELEVANT</td></tr>
      <tr><th scope="row">Testzeile 05</th><td>5</td><td>OFFEN</td></tr>
      <tr><th scope="row">Testzeile 06</th><td>6</td><td>IN_BEARBEITUNG</td></tr>
      <tr><th scope="row">Testzeile 07</th><td>7</td><td>ERLEDIGT</td></tr>
      <tr><th scope="row">Testzeile 08</th><td>8</td><td>NICHT_RELEVANT</td></tr>
      <tr><th scope="row">Testzeile 09</th><td>9</td><td>OFFEN</td></tr>
      <tr><th scope="row">Testzeile 10</th><td>10</td><td>IN_BEARBEITUNG</td></tr>
      <tr><th scope="row">Testzeile 11</th><td>11</td><td>ERLEDIGT</td></tr>
      <tr><th scope="row">Testzeile 12</th><td>12</td><td>NICHT_RELEVANT</td></tr>
      <tr><th scope="row">Testzeile 13</th><td>13</td><td>OFFEN</td></tr>
      <tr><th scope="row">Testzeile 14</th><td>14</td><td>IN_BEARBEITUNG</td></tr>
      <tr><th scope="row">Testzeile 15</th><td>15</td><td>ERLEDIGT</td></tr>
      <tr><th scope="row">Testzeile 16</th><td>16</td><td>NICHT_RELEVANT</td></tr>
      <tr><th scope="row">Testzeile 17</th><td>17</td><td>OFFEN</td></tr>
      <tr><th scope="row">Testzeile 18</th><td>18</td><td>IN_BEARBEITUNG</td></tr>
      <tr><th scope="row">Testzeile 19</th><td>19</td><td>ERLEDIGT</td></tr>
      <tr><th scope="row">Testzeile 20</th><td>20</td><td>NICHT_RELEVANT</td></tr>
    </tbody>
    <tfoot><tr><th scope="row">Summe Testwerte</th><td>210</td><td>sichtbar getrennt</td></tr></tfoot>
  </table>
</section>
