<footer class="imr-component imr-component--metadata" data-component-id="M12_METADATA" data-component-version="1.1.0" aria-labelledby="m12-title">
  <h2 id="m12-title" data-bind-text="title">Dokumentmetadaten</h2>
  <dl>
    <dt data-bind-text="labels.product_id">Produkt-/Test-ID</dt><dd data-bind-text="product_id">T00-KOMPONENTENPROOF</dd>
    <dt data-bind-text="labels.version">Dokumentversion</dt><dd data-bind-text="version">1.0.0</dd>
    <dt data-bind-text="labels.document_class">Dokumentklasse</dt><dd data-bind-text="document_class">NEUTRALER_TEST</dd>
    <dt data-bind-text="labels.classes">Risiko- und Aktualitätsklasse</dt><dd data-bind-text="classes">R0 / A0</dd>
    <dt data-bind-text="labels.source_version">Quellenstand</dt><dd data-bind-text="source_version">2026-07-15</dd>
    <dt data-bind-text="labels.build_version">Buildstand</dt><dd data-bind-text="build_version">COMPONENT_LIBRARY_LOCAL_QA</dd>
  </dl>
</footer>
