<footer class="imr-component imr-component--metadata" data-component-id="M12_METADATA" data-component-version="1.0.0" aria-labelledby="m12-title">
  <h2 id="m12-title">Dokumentmetadaten</h2>
  <dl>
    <dt>Produkt-/Test-ID</dt><dd>T00-KOMPONENTENPROOF</dd>
    <dt>Dokumentversion</dt><dd>1.0.0</dd>
    <dt>Dokumentklasse</dt><dd>NEUTRALER_TEST</dd>
    <dt>Risiko- und Aktualitätsklasse</dt><dd>R0 / A0</dd>
    <dt>Quellenstand</dt><dd>2026-07-15</dd>
    <dt>Buildstand</dt><dd>COMPONENT_LIBRARY_LOCAL_QA</dd>
  </dl>
</footer>
